@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');

@font-face {
  font-family: 'Calibre Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Calibre Regular'), url('../assets/fonts/CalibreRegular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Calibre Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Calibre Regular Italic'), url('../assets/fonts/CalibreRegularItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Calibre Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Calibre Thin'), url('../assets/fonts/CalibreThin.woff') format('woff');
  }
  
  
  // @font-face {
  // font-family: 'Calibre Thin Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Thin Italic'), url('CalibreThinItalic.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Light';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Light'), url('CalibreLight.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Light Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Light Italic'), url('CalibreLightItalic.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Medium';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Medium'), url('CalibreMedium.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Medium Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Medium Italic'), url('CalibreMediumItalic.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Semibold';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Semibold'), url('CalibreSemibold.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Semibold Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Semibold Italic'), url('CalibreSemiboldItalic.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Bold';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Bold'), url('CalibreBold.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Bold Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Bold Italic'), url('CalibreBoldItalic.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Black';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Black'), url('CalibreBlack.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Calibre Black Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Calibre Black Italic'), url('CalibreBlackItalic.woff') format('woff');
  // }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a192f;
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: 'Calibre Regular', "San Francisco", "SF Pro Text", 'Lato', "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: rgb(204, 214, 246);
  margin: 0px 0px 10px;
}

div::selection,
a::selection,
li::selection,
span::selection,
img::selection {
  background-color: rgb(136, 152, 173);
}

.nav-bar {
    background-color: #0a192f;
    width: 100%;
    height: 15vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    // box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    transform: translateY(0px);
    z-index: 99 !important;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    // padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition-delay: 100ms;
  }
  .nav-bar-scrolled {
    background-color: #0a192f;
    width: 100%;
    height: 12vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    transform: translateY(0px);
    z-index: 99 !important;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    // padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition-delay: 100ms;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
  }
  .logo-image {
    width: 6vh;
    height: 6vh;
    object-fit: cover;
  }
  .right-nav-bar {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  .counter {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 12px;
    color: #64ffda;
    margin-right: 10px;
  }
  .links {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    text-decoration: none;
    color: rgb(204, 214, 246);
    margin-right: 20px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .links:hover {
    color: rgb(100, 255, 218);
  }
  
  .resume {
    color: rgb(100, 255, 218);
    background-color: transparent;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1;
    cursor: pointer;
    margin-left: 10px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .resume:hover {
    color: rgb(100, 255, 218);
    background-color: rgba(100, 255, 218, 0.2);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1;
    cursor: pointer;
    margin-left: 10px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .content {
    width: 100%;
    // height: 100%;
    // padding-top: 15vh;
    display: flex;
    justify-content: flex-start;
  }
  .sidebars {
    width: 10%;
  }
  .left-side-bar {
    width: 10%;
    height: 100vh;
    position: fixed;
    top: 15vh;
  }
  .main-content {
    width: 80%;
    height: 100%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-content .section {
    width: 100%;
    padding: 20vh 3vw;
    min-height: 100vh;
    text-align: left;
  }
  .section.intro {
    padding: 15vh 3vw;
  }
  .right-side-bar {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 15vh;
    left: 90%;
  }
  .intro-line {
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: 400;
    margin: 0px 0px 20px 3px;
  }
  .name {
    font-size: 70px;
    line-height: 1.1;
    margin: 0px;
    color: rgb(204, 214, 246);
    font-weight: 600;
    margin-bottom: 5px;
  }
  .subheading {
      font-size: 70px;
      line-height: 1.1;
      color: rgb(136, 146, 176);
      font-weight: 600;
      margin-bottom: 10px;
  }
  .intro-description {
    margin-top: 25px;
    max-width: 500px;
    margin-bottom: 15px;
  }
  .main-container {
    counter-reset: section-heading;
  }

  .section {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    outline: none;
  }

  .section-heading {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0px 40px;
  }
  .section-heading::before {
    content: "0" counter(section-heading) ".";
    counter-increment: section-heading;
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 20px;
    position: relative;
    bottom: 4px;
  }
  .section-heading::after {
    width: 200px;
    content: "";
    display: block;
    height: 1px;
    width: 20vw;
    background-color: rgb(45, 57, 82);
    position: relative;
    top: 0px;
    margin-left: 20px;
  }

  .about .about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .about-content .info-text {
    width: 55%;
    padding-right: 5vw;
  }
  .about-content .info-pic {
    width: 45%;
    padding-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .pic-container {
    background-image: url("../assets/info-pic.jpg");
    background-size: 43vh;
    width: 43vh;
    height: 43vh;
    background-color: rgba(100, 255, 218, 0.9);
    background-blend-mode: luminosity;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .pic-container:hover {
    background-image: url("../assets/info-pic.jpg");
    background-size: 45vh;
    width: 45vh;
    height: 45vh;
    background-color: rgb(100, 255, 218, 0);
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .mail-link-container {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
  }

  .link-box {
    margin-top: 50px;
  }

  .mail-link {
    color: rgb(100, 255, 218);
    background-color: transparent;
    font-size: 14px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .footer-container {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 16px;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 255, 218);
    color: rgb(10, 25, 47);
    text-align: center;
    // cursor: pointer;
  }
  .footer-container-hovered {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 16px;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 25, 47);
    color: rgb(100, 255, 218);
    text-align: center;
    // cursor: pointer;
  }
  .footer-text {
    text-decoration: none;
    color: rgb(10, 25, 47);
  }
  .footer-text:hover {
    text-decoration: none;
    color: rgb(100, 255, 218);
  }